<div class="jumbotron">
    <p class="lead">Welcome to Wonder's College</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teachers</h2>
        <a href="/Teacher/List">List of Teachers</a>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <a href="/Student/List">List of Students</a>
    </div>
    <div class="col-md-4">
        <h2>Classes</h2>
        <a href="/Classes/List">List of Class</a>
    </div>
</div>
