@model Assignment3.Models.Student
@{
    ViewBag.Title = "show";
}

<a class="navlink" href="/Student/List">Back To Student List</a>
<div>
    <h3>@Model.StudentName</h3>
    <p>Student #: @Model.StudentNumber</p>
    <p>enrol Date: @Model.Enroldate.ToString("yyyy-MM-dd")</p>

    <b>Take class:</b>


</div>